<p id="notice"><%= notice %></p>

<p>
  <strong>Aspect type:</strong>
  <%= @goal.aspect_type %>
</p>

<p>
  <strong>Aspect start score:</strong>
  <%= @goal.aspect_start_score %>
</p>

<p>
  <strong>Aspect goal score:</strong>
  <%= @goal.aspect_goal_score %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @goal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
